#canvas-container {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  position: relative;
}

#design-canvas {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#text-input {
  margin-top: 10px;
}
body {
  background-color: red;
}
